<!DOCTYPE html>
<html>
  <head>
    <title><%= mensaje %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p><%= mensaje %></p>
    <a href="regcontacto">Volver</a>
  </body>
</html>